@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-row::-webkit-scrollbar {
    height: 5px;
}

.row-row::-webkit-scrollbar-track {
    background-color: #fff;
}

.row-row::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

body {
    font-size: 16px;
    font-family: "Assistant", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

li {
    list-style: none;
}

.container {
    .header-top {
        height: 10vh;
        width: 100%;
        overflow-y: hidden;
        background-color: #131921;
        .header-top-margin {
            position: fixed;
            z-index: 1000;
            background-color: #131921;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .site-logo {
                width: 110px;
                margin-top: 10px;
                img {
                    width: inherit;
                }
            }

            .update-location {
                min-width: 200px;
                .location {
                    padding: 0px 20px;
                    p {
                        color: #ccc;
                        font-size: 13px;
                        word-spacing: 2px;
                    }
                    .map {
                        display: flex;
                        flex-direction: row;
                        p {
                            i {
                                margin-right: 5px;
                            }
                        }
                        p {
                            color: #fff;
                            font-weight: 800;
                            font-size: 15px;
                        }
                    }
                }
            }
            .search-product {
                width: 600px;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                form {
                    .search-section {
                        select {
                            margin-right: -4px;
                            width: 60px;
                            padding: 11px 2px;
                            background: #e6e6e6;
                        }
                        input {
                            outline: none;
                            border: none;
                            width: 82%;
                            padding: 12px;
                        }
                        p {
                            // border-top-right-radius: 5px;
                            // border-bottom-right-radius: 5px;
                            position: absolute;
                            right: 0;
                            top: 1px;
                            width: 50px;
                            height: auto;
                            background: #febd69;
                            i {
                                font-size: 17px;
                                color: #000;
                                padding: 10px 18px;
                            }
                        }
                    }
                }
            }
            .select-language {
                margin-top: 10px;
                width: 100px;
                .language {
                    margin: 0 30px;
                    display: flex;
                    .lang-logo {
                        img {
                            width: 20px;
                        }
                    }
                    .lang-name {
                        padding-left: 5px;
                        display: flex;
                        .lang-names {
                            p {
                                color: #fff;
                            }
                        }
                        .lang-icon {
                            i {
                                color: #a7acb2;
                                font-size: 10px;
                                padding-left: 2px;
                            }
                        }
                    }
                }
            }

            .sign-in {
                width: 150px;
                .sign-parent {
                    .sign-content {
                        p {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
                .sign-account {
                    display: flex;
                    .account-list {
                        p {
                            color: #fff;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                    .lang-icon {
                        i {
                            font-size: 10px;
                            padding-left: 5px;
                        }
                    }
                }
            }

            .return-orders {
                width: 100px;
                .return-cotent {
                    p:first-child {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    p {
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }

            .cart {
                .cart-container {
                    display: flex;
                    .cart-content {
                        .cart-logo {
                            position: relative;
                            i {
                                font-size: 35px;
                            }
                            p {
                                position: absolute;
                                top: -3px;
                                left: 50%;
                                font-size: 20px;
                                color: #000;
                                color: #f08804;
                                font-weight: 800;
                                z-index: 1000;
                            }
                        }
                    }
                    .cart-name {
                        p {
                            margin-top: 17px;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        max-height: 7vh;
        background: #232f3e;
        overflow-y: hidden;
        .header-bottom-margin {
            display: flex;
            justify-content: space-between;
            .nav-menu {
                margin-left: 20px;
                width: 950px;
                nav {
                    ul {
                        display: flex;
                        li {
                            padding: 9px;
                            a {
                                color: #fff;
                                font-weight: 500;
                                font-size: 15px;
                                .burger-menu {
                                    font-size: 18px;
                                    color: #fff;
                                }
                                i {
                                    margin-right: 10px;
                                    font-size: 12px;
                                    color: #a7acb2;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .sale-banner {
                .banner-image {
                    position: relative;
                    img {
                        width: 400px;
                    }
                    p {
                        position: absolute;
                        right: 55px;
                        top: 0px;
                        font-size: 25px;
                        word-spacing: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .main-screen {
        // position: relative;
        width: 100%;
        .promo-banner {
            height: 250px;
            width: 100%;
            overflow-y: hidden;
            img {
                width: inherit;
            }
        }
        .row-flex {
            width: 100%;
            background: #e3e6e6;
            // position: absolute;
            // top: 250px;
            display: flex;
            height: auto;
            .row-container {
                margin-bottom: 25px;
                margin-left: 30px;
                width: 300px;
                min-height: 400px;
                background: #fff;
                .row-heading {
                    height: 65px;
                    p {
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                        padding: 15px;
                    }
                }
                .row-one {
                    height: 290px;
                    padding: 15px;
                    .flex-one {
                        display: flex;
                        .first-col {
                            margin-bottom: 18px;
                            .prod-img {
                                width: 75px;
                                margin-left: 15px;
                                img {
                                    width: inherit;
                                }
                            }
                            .prod-desc {
                                display: flex;
                                button {
                                    border: none;
                                    padding: 0 5px;
                                    border-radius: 2px;
                                    background-color: #cc0c39;
                                    color: #fff;
                                    font-weight: 600;
                                    font-size: 12px;
                                }
                                p {
                                    color: #cc0c39;
                                    font-weight: 700;
                                    font-size: 13px;
                                    width: 70px;
                                    margin-left: 10px;
                                    line-height: 12px;
                                }
                            }
                        }
                    }
                    .flex-two {
                        display: flex;
                        gap: 1rem;
                        .first-col {
                            margin-bottom: 20px;
                            .prod-img {
                                width: 125px;
                                img {
                                    width: inherit;
                                }
                            }
                            .prod-desc {
                                p {
                                    color: #000;
                                    font-size: 13px;
                                    font-weight: 500;
                                    width: 130px;
                                }
                            }
                        }
                    }
                }
                .see-all {
                    a {
                        padding: 0 15px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #007185;
                    }
                }
            }
            .row-row {
                overflow-y: hidden;
                overflow-x: auto;
                margin: 0 30px;
                margin-bottom: 20px;
                width: 100%;
                height: 350px;
                background: #fff;
                .row-desc {
                    padding: 20px;
                    a.today-deals {
                        font-size: 22px;
                        color: #000;
                        font-weight: 700;
                    }
                    a.see-deals {
                        margin-left: 15px;
                        font-size: 14px;
                        color: #007185;
                        font-weight: 600;
                    }
                }
                .row-banner {
                    display: flex;
                    .row-banner-one {
                        .banner-one {
                            padding-left: 20px;
                            width: 215px;
                            .banner-img {
                                background: #f7f8f8;
                                width: 100%;
                                img {
                                    margin-left: 20px;
                                    // padding: 15px 0;
                                    // margin-left: 60px;
                                    // width: inherit;
                                }
                            }
                            .banner-desc {
                                text-align: start;
                                margin-top: 10px;
                                a.banner-off {
                                    order: none;
                                    background: #cc0c39;
                                    color: #fff;
                                    padding: 5px;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                                a.deal-day {
                                    font-size: 12px;
                                    color: #cc0c39;
                                    font-weight: 600;
                                }
                            }
                            .best-deals {
                                p {
                                    margin-top: 10px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #000;
                                    text-align: start;
                                }
                            }
                        }
                    }
                }
            }

            .row-container-last {
                margin-left: 30px;
                width: 300px;
                height: 150px;
                background: #fff;
                .row-heading {
                    height: 65px;
                    p {
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                        padding: 15px;
                    }
                }
                .row-one {
                    .sign {
                        a {
                            background: yellow;
                            padding: 5px 50px;
                            border-radius: 10px;
                            display: inline-block;
                            width: 85%;
                            text-align: center;
                            margin: 20px 22px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
                .sponsored-ad {
                    height: 230px;
                    width: 300px;
                    background-color: #fff;
                    margin-top: 40px;
                    .spon-img {
                        width: 100%;
                        img {
                            width: inherit;
                            height: 100%;
                        }
                    }
                    .spon-desc {
                        margin-left: 20px;
                        margin-top: 10px;
                        p {
                            font-size: 14px;
                            color: #000;
                            font-weight: 600;
                        }
                        .spon-star-flex {
                            display: flex;
                            img {
                                width: 70px;
                                height: 15px;
                            }
                            p {
                                font-size: 14px;
                                color: #000;
                                font-weight: 600;
                                padding-left: 10px;
                            }
                        }
                        .spon-desc-detail {
                            display: flex;
                            gap: 0.5rem;
                            position: relative;
                            align-items: center;
                            p {
                                padding: 0 2px;
                            }
                            .perc {
                                font-size: 16px;
                                color: #cc0c39;
                            }

                            .bigger {
                                font-size: 20px;
                                color: #cc0c39;
                                .rupee,
                                .sub-zero {
                                    font-size: 12px;
                                }
                            }
                            .striked {
                                color: #000;
                                font-size: 16px;
                                font-weight: 500;
                            }
                            img.prime-logo {
                                width: 42px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
        .row-banenr {
            height: 100%;
            width: 100%;
            .row-back {
                background-color: red;
            }
        }
    }
}
