@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-row-two::-webkit-scrollbar,
.row-row::-webkit-scrollbar {
  height: 5px;
}

.row-row-two::-webkit-scrollbar-track,
.row-row::-webkit-scrollbar-track {
  background-color: #fff;
}

.row-row-two::-webkit-scrollbar-thumb,
.row-row::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

body {
  font-size: 16px;
  font-family: "Assistant", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container .header-top {
  height: 10vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #131921;
}
.container .header-top .header-top-margin {
  position: fixed;
  z-index: 1000;
  background-color: #131921;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header-top .header-top-margin .site-logo {
  width: 110px;
  margin-top: 13px;
}
.container .header-top .header-top-margin .site-logo img {
  width: inherit;
}
.container .header-top .header-top-margin .update-location {
  min-width: 200px;
}
.container .header-top .header-top-margin .update-location .location {
  padding: 0px 20px;
}
.container .header-top .header-top-margin .update-location .location p {
  color: #ccc;
  font-size: 13px;
  word-spacing: 2px;
}
.container .header-top .header-top-margin .update-location .location .map {
  display: flex;
  flex-direction: row;
}
.container .header-top .header-top-margin .update-location .location .map p i {
  margin-right: 5px;
}
.container .header-top .header-top-margin .update-location .location .map p {
  color: #fff;
  font-weight: 800;
  font-size: 15px;
}
.container .header-top .header-top-margin .search-product {
  width: 600px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.container .header-top .header-top-margin .search-product form .search-section select {
  margin-right: -4px;
  width: 60px;
  padding: 11px 2px;
  background: #e6e6e6;
}
.container .header-top .header-top-margin .search-product form .search-section input {
  outline: none;
  border: none;
  width: 82%;
  padding: 12px;
}
.container .header-top .header-top-margin .search-product form .search-section p {
  position: absolute;
  right: 0;
  top: 1px;
  width: 50px;
  height: 38px;
  background: #febd69;
}
.container .header-top .header-top-margin .search-product form .search-section p i {
  font-size: 17px;
  color: #000;
  padding: 10px 18px;
}
.container .header-top .header-top-margin .select-language {
  margin-top: 10px;
  width: 100px;
}
.container .header-top .header-top-margin .select-language .language {
  margin: 10px 0px 0px 30px;
  display: flex;
}
.container .header-top .header-top-margin .select-language .language .lang-logo img {
  width: 20px;
}
.container .header-top .header-top-margin .select-language .language .lang-name {
  padding-left: 5px;
  display: flex;
}
.container .header-top .header-top-margin .select-language .language .lang-name .lang-names p {
  color: #fff;
  font-weight: 700;
}
.container .header-top .header-top-margin .select-language .language .lang-name .lang-icon i {
  color: #a7acb2;
  font-size: 10px;
  padding-left: 2px;
}
.container .header-top .header-top-margin .select-language .language-dropdown {
  position: absolute;
  top: 55px;
  right: 175px;
  width: 220px;
  height: 340px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.container .header-top .header-top-margin .select-language .language-dropdown::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #fff;
  rotate: 45deg;
  top: -7px;
  left: 40px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex {
  padding-top: 10px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex ul li .content {
  padding: 4px 20px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex ul li .content input[type=radio]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex ul li .content a {
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex ul li .learn-more {
  padding: 10px 38px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex ul li .learn-more a {
  color: #007185;
  font-size: 14px;
  font-weight: 500;
}
.container .header-top .header-top-margin .select-language .language-dropdown .lang-flex ul li .underline {
  margin: 0 40px;
  width: 70%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.container .header-top .header-top-margin .select-language .language-dropdown .shopping-site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .shopping-site img {
  width: 15px;
}
.container .header-top .header-top-margin .select-language .language-dropdown .shopping-site p {
  padding-left: 8px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}
.container .header-top .header-top-margin .select-language .language-dropdown .change-country a {
  padding-top: 5px;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #007185;
}
.container .header-top .header-top-margin .sign-in {
  width: 150px;
}
.container .header-top .header-top-margin .sign-in .sign-parent .sign-content p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.container .header-top .header-top-margin .sign-in .sign-account {
  display: flex;
}
.container .header-top .header-top-margin .sign-in .sign-account .account-list p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.container .header-top .header-top-margin .sign-in .sign-account .lang-icon i {
  font-size: 10px;
  padding-left: 5px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown {
  width: 527px;
  right: 60px;
  top: 55px;
  height: auto;
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #fff;
  rotate: 45deg;
  top: -6px;
  right: 150px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .dropddown-sign-in {
  padding-top: 15px;
  padding-bottom: 10px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .dropddown-sign-in .btn button {
  margin: 0 auto;
  display: block;
  height: 33px;
  width: 45%;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  background: #ffd814;
  border-color: #fcd200;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-size: 12px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .dropddown-sign-in p {
  text-align: center;
  color: #000;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .dropddown-sign-in p a {
  color: #007185;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .dropddown-sign-in p a:hover {
  text-decoration: underline;
  color: #e47911;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .underline {
  width: 87%;
  display: block;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider .box-one ul li {
  padding-bottom: 3px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider .box-one ul li a {
  font-size: 14px;
  color: #444444;
  font-weight: 600;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider .box-one ul li a.first {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider .box-one ul li a:hover {
  text-decoration: underline;
  color: #e47911;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider .box-one ul li.first-li {
  padding-bottom: 5px;
}
.container .header-top .header-top-margin .sign-in .sign-in-dropdown .dropdown .flex-divider .underlines {
  width: 1px;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.container .header-top .header-top-margin .return-orders {
  width: 100px;
}
.container .header-top .header-top-margin .return-orders .return-cotent p:first-child {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.container .header-top .header-top-margin .return-orders .return-cotent p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.container .header-top .header-top-margin .cart .cart-container {
  display: flex;
}
.container .header-top .header-top-margin .cart .cart-container .cart-content .cart-logo {
  position: relative;
}
.container .header-top .header-top-margin .cart .cart-container .cart-content .cart-logo i {
  font-size: 35px;
}
.container .header-top .header-top-margin .cart .cart-container .cart-content .cart-logo p {
  position: absolute;
  top: -3px;
  left: 50%;
  font-size: 20px;
  color: #000;
  color: #f08804;
  font-weight: 800;
  z-index: 1000;
}
.container .header-top .header-top-margin .cart .cart-container .cart-name p {
  margin-top: 17px;
  font-weight: 600;
  font-size: 14px;
}
.container .burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1025;
  background-color: rgba(0, 0, 0, 0.8);
}
.container .burger-menu .header {
  position: fixed;
  top: 0;
  height: 45px;
  width: 365px;
  background: #232f3e;
  z-index: 1025;
}
.container .burger-menu .header .user {
  display: flex;
  align-items: center;
  height: inherit;
  margin-left: 35px;
}
.container .burger-menu .header .user .user-icon div i {
  font-size: 22px;
}
.container .burger-menu .header .user .hello-user p {
  font-size: 22px;
  font-weight: 700;
}
.container .burger-menu .header .user > div {
  padding: 0 5px;
}
.container .burger-menu .side-menu {
  max-height: 93vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  width: 365px;
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 1000;
  padding-bottom: 30px;
}
.container .burger-menu .side-menu .menu-list ul li {
  padding: 15px 0;
}
.container .burger-menu .side-menu .menu-list ul li a.first {
  font-size: 18px;
  font-weight: 700;
}
.container .burger-menu .side-menu .menu-list ul li a {
  padding-left: 40px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
}
.container .burger-menu .side-menu .menu-list ul li a i {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  color: #999;
}
.container .burger-menu .side-menu .menu-list ul li:hover:first-child {
  background-color: transparent;
}
.container .burger-menu .side-menu .menu-list ul li:hover {
  background-color: #eaeded;
  cursor: pointer;
}
.container .burger-menu .side-menu .menu-list ul li:hover a i {
  color: #000;
}
.container .burger-menu .side-menu .side-underline {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.container .burger-menu .close {
  position: fixed;
  left: 375px;
  top: 8px;
}
.container .burger-menu .close i {
  font-size: 30px;
  color: #fff;
}
.container .header-bottom {
  max-height: 7vh;
  background: #232f3e;
  overflow-y: hidden;
}
.container .header-bottom .header-bottom-margin {
  display: flex;
  justify-content: space-between;
}
.container .header-bottom .header-bottom-margin .nav-menu {
  margin-left: 20px;
  width: 950px;
}
.container .header-bottom .header-bottom-margin .nav-menu nav ul {
  display: flex;
}
.container .header-bottom .header-bottom-margin .nav-menu nav ul li {
  padding: 9px;
}
.container .header-bottom .header-bottom-margin .nav-menu nav ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.container .header-bottom .header-bottom-margin .nav-menu nav ul li a .burger-menu-icon {
  font-size: 18px;
  color: #fff;
}
.container .header-bottom .header-bottom-margin .nav-menu nav ul li a i {
  margin-right: 10px;
  font-size: 12px;
  color: #a7acb2;
  padding-left: 5px;
}
.container .header-bottom .header-bottom-margin .sale-banner .banner-image {
  position: relative;
}
.container .header-bottom .header-bottom-margin .sale-banner .banner-image img {
  width: 400px;
}
.container .header-bottom .header-bottom-margin .sale-banner .banner-image p {
  position: absolute;
  right: 55px;
  top: 0px;
  font-size: 25px;
  word-spacing: 20px;
  font-weight: 400;
}
.container .main-screen {
  width: 100%;
}
.container .main-screen .promo-banner {
  height: 250px;
  width: 100%;
  overflow-y: hidden;
}
.container .main-screen .promo-banner img {
  width: inherit;
}
.container .main-screen .row-flex {
  width: 100%;
  background: #e3e6e6;
  display: flex;
  height: auto;
}
.container .main-screen .row-flex .row-container {
  margin-bottom: 25px;
  margin-left: 30px;
  width: 300px;
  min-height: 400px;
  background: #fff;
}
.container .main-screen .row-flex .row-container .row-heading {
  height: 65px;
}
.container .main-screen .row-flex .row-container .row-heading p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 15px;
}
.container .main-screen .row-flex .row-container .row-one {
  height: 290px;
  padding: 15px;
}
.container .main-screen .row-flex .row-container .row-one .flex-one {
  display: flex;
}
.container .main-screen .row-flex .row-container .row-one .flex-one .first-col {
  margin-bottom: 18px;
}
.container .main-screen .row-flex .row-container .row-one .flex-one .first-col .prod-img {
  width: 75px;
  margin-left: 15px;
}
.container .main-screen .row-flex .row-container .row-one .flex-one .first-col .prod-img img {
  width: inherit;
}
.container .main-screen .row-flex .row-container .row-one .flex-one .first-col .prod-desc {
  display: flex;
}
.container .main-screen .row-flex .row-container .row-one .flex-one .first-col .prod-desc button {
  border: none;
  padding: 0 5px;
  border-radius: 2px;
  background-color: #cc0c39;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}
.container .main-screen .row-flex .row-container .row-one .flex-one .first-col .prod-desc p {
  color: #cc0c39;
  font-weight: 700;
  font-size: 13px;
  width: 70px;
  margin-left: 10px;
  line-height: 12px;
}
.container .main-screen .row-flex .row-container .row-one .flex-two {
  display: flex;
  gap: 1rem;
}
.container .main-screen .row-flex .row-container .row-one .flex-two .first-col {
  margin-bottom: 20px;
}
.container .main-screen .row-flex .row-container .row-one .flex-two .first-col .prod-img {
  width: 125px;
}
.container .main-screen .row-flex .row-container .row-one .flex-two .first-col .prod-img img {
  width: inherit;
}
.container .main-screen .row-flex .row-container .row-one .flex-two .first-col .prod-desc p {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  width: 130px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .prod-img {
  margin: 0 auto;
  width: 150px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .prod-img img {
  width: 125px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .prod-img img.slider-two {
  width: 100px;
  margin-left: 25px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .prod-desc p {
  color: #000;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .prod-pricing p {
  padding-left: 20px;
  color: #888;
  font-size: 14px;
  font-weight: 600;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .prod-pricing p span {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .image-slider {
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .image-slider .img-one:first-child {
  border: 3px solid #007185;
  border-radius: 5px;
  margin: 0 5px;
  padding: 2px 5px;
  width: 50px;
  height: 50px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .image-slider .img-one:first-child img {
  width: 30px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .image-slider .img-one {
  border: 1px solid #888;
  border-radius: 5px;
  margin: 0 5px;
  padding: 2px 5px;
  width: 50px;
  height: 50px;
}
.container .main-screen .row-flex .row-container .row-one-continue .flex-two .first-col .image-slider .img-one img {
  width: 30px;
}
.container .main-screen .row-flex .row-container .row-flex-one {
  padding: 10px 20px;
  display: flex;
}
.container .main-screen .row-flex .row-container .row-flex-one .flex-two {
  width: 130px;
}
.container .main-screen .row-flex .row-container .row-flex-one .flex-two .first-col .prod-img {
  width: 60px;
}
.container .main-screen .row-flex .row-container .row-flex-one .flex-two .first-col .prod-img img {
  width: inherit;
}
.container .main-screen .row-flex .row-container .row-flex-one .flex-two .first-col .prod-desc p {
  text-align: center;
  padding: 0 5px;
}
.container .main-screen .row-flex .row-container .see-all a {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #007185;
}
.container .main-screen .row-flex .row-row {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 350px;
  background: #fff;
}
.container .main-screen .row-flex .row-row .row-desc {
  padding: 20px;
}
.container .main-screen .row-flex .row-row .row-desc a.today-deals {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}
.container .main-screen .row-flex .row-row .row-desc a.see-deals {
  margin-left: 15px;
  font-size: 14px;
  color: #007185;
  font-weight: 600;
}
.container .main-screen .row-flex .row-row .row-banner {
  display: flex;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one {
  padding-left: 20px;
  width: 215px;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one .banner-img {
  background: #f7f8f8;
  width: 100%;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one .banner-img img {
  margin-left: 20px;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one .banner-desc {
  text-align: start;
  margin-top: 10px;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one .banner-desc a.banner-off {
  order: none;
  background: #cc0c39;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one .banner-desc a.deal-day {
  font-size: 12px;
  color: #cc0c39;
  font-weight: 600;
}
.container .main-screen .row-flex .row-row .row-banner .row-banner-one .banner-one .best-deals p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-align: start;
}
.container .main-screen .row-flex .row-row-two {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: #fff;
}
.container .main-screen .row-flex .row-row-two .row-desc {
  padding: 20px;
}
.container .main-screen .row-flex .row-row-two .row-desc a.today-deals {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}
.container .main-screen .row-flex .row-row-two .row-desc a.see-deals {
  margin-left: 15px;
  font-size: 14px;
  color: #007185;
  font-weight: 600;
}
.container .main-screen .row-flex .row-row-two .row-banner {
  display: flex;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one {
  padding-left: 20px;
  width: 215px;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one .banner-img {
  background: #f7f8f8;
  width: 100%;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one .banner-img img {
  margin-left: 20px;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one .banner-desc {
  text-align: start;
  margin-top: 10px;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one .banner-desc a.banner-off {
  order: none;
  background: #cc0c39;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one .banner-desc a.deal-day {
  font-size: 12px;
  color: #cc0c39;
  font-weight: 600;
}
.container .main-screen .row-flex .row-row-two .row-banner .row-banner-one .banner-one .best-deals p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-align: start;
}
.container .main-screen .row-flex .row-container-last {
  margin-left: 30px;
  width: 300px;
  height: 150px;
  background: #fff;
}
.container .main-screen .row-flex .row-container-last .row-heading {
  height: 65px;
}
.container .main-screen .row-flex .row-container-last .row-heading p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 15px;
}
.container .main-screen .row-flex .row-container-last .row-one .sign a {
  background: yellow;
  padding: 5px 50px;
  border-radius: 10px;
  display: inline-block;
  width: 85%;
  text-align: center;
  margin: 20px 22px;
  font-size: 14px;
  font-weight: 500;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad {
  height: 230px;
  width: 300px;
  background-color: #fff;
  margin-top: 40px;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-img {
  width: 100%;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-img img {
  width: inherit;
  height: 100%;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc {
  margin-left: 20px;
  margin-top: 10px;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc p {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-star-flex {
  display: flex;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-star-flex img {
  width: 70px;
  height: 15px;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-star-flex p {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  padding-left: 10px;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail {
  display: flex;
  gap: 0.5rem;
  position: relative;
  align-items: center;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail p {
  padding: 0 2px;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail .perc {
  font-size: 16px;
  color: #cc0c39;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail .bigger {
  font-size: 20px;
  color: #cc0c39;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail .bigger .rupee,
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail .bigger .sub-zero {
  font-size: 12px;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail .striked {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.container .main-screen .row-flex .row-container-last .sponsored-ad .spon-desc .spon-desc-detail img.prime-logo {
  width: 42px;
  height: 12px;
}
.container .main-screen .row-banenr {
  height: 100%;
  width: 100%;
}
.container .main-screen .row-banenr .row-back {
  background-color: red;
}
.container .browsing-history {
  width: 100%;
  height: 100vh;
  color: #000;
  padding: 40px 0;
  background: #fff;
}
.container .browsing-history .browsing-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container .browsing-history .browsing-border .browsing-heading {
  margin: 20px 30px;
}
.container .browsing-history .browsing-border .browsing-heading p {
  font-size: 20px;
  font-weight: 700;
}
.container .browsing-history .browsing-border .browsing-prod {
  margin: 0 30px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex {
  margin-bottom: 60px;
  gap: 1rem;
  display: flex;
  justify-content: center;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item {
  width: 170px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-image {
  width: 150px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-image img {
  width: inherit;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-desc p {
  font-size: 15px;
  color: #007185;
  font-weight: 500;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-rating {
  margin: 5px 0;
  display: flex;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-rating img {
  width: 75px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-rating p {
  color: #007185;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 600;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .viewed p {
  font-size: 13px;
  font-weight: 600;
  color: #888;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .banner-ad {
  display: flex;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .banner-ad .banner {
  background: #c45500;
  padding: 0 10px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .banner-ad .banner p {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .banner-ad .banner-desc p {
  color: #007185;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 600;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .polos p {
  color: #007185;
  font-size: 13px;
  font-weight: 500;
  margin-top: 3px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-pricing p {
  color: #c45500;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .friday p {
  font-size: 13px;
  color: #000;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .friday p span {
  font-weight: 700;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .free-delivery p {
  margin-top: 3px;
  font-size: 14px;
  color: #000;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p {
  font-size: 18px;
  font-weight: 500;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p span {
  font-size: 12px;
  position: relative;
  top: -3px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p span.orange-text {
  color: #c45500;
  font-size: 20px;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p.darker {
  font-size: 15px;
  font-weight: 500;
  color: #888;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p.darker span.darker-span {
  font-size: 15px;
  top: 0;
  color: #000;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p.offers {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.container .browsing-history .browsing-border .browsing-prod .browsing-flex .browsing-item .browsing-price p.offers span.offer-span {
  font-size: 15px;
  color: #888;
  top: 0;
}
.container .browsing-history .browsing-border .underline {
  width: 95%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
}
.container .browsing-history .browsing-border .browsing-sign {
  height: 100px;
}
.container .browsing-history .browsing-border .browsing-sign .browsing-sign-flex {
  margin: 30px 0;
  text-align: center;
}
.container .browsing-history .browsing-border .browsing-sign .browsing-sign-flex .browsing-sign-desc p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.container .browsing-history .browsing-border .browsing-sign .browsing-sign-flex .sign-button a {
  width: 230px;
  display: inline-block;
  background: linear-gradient(360deg, #ffc633, #ffd875);
  border-radius: 5px;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 700;
}
.container .browsing-history .browsing-border .browsing-sign .browsing-sign-flex .new-customer p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
}
.container .browsing-history .browsing-border .browsing-sign .browsing-sign-flex .new-customer p a {
  color: #007185;
}
.container .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #37475a;
  margin-top: 80px;
}
.container .top .back-top a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.container footer {
  height: 100%;
  background: red;
  width: 100%;
}
.container footer .footer-top {
  background-color: #232f3e;
}
.container footer .footer-top .footer-margin {
  margin: 0px 15%;
}
.container footer .footer-top .footer-margin .footer-flex {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.container footer .footer-top .footer-margin .footer-flex .footer-list {
  margin-top: 45px;
}
.container footer .footer-top .footer-margin .footer-flex .footer-list ul li {
  padding: 5px 0;
}
.container footer .footer-top .footer-margin .footer-flex .footer-list ul li a {
  color: #dddddd;
  font-size: 15px;
  font-weight: 500;
}
.container footer .footer-top .footer-margin .footer-flex .footer-list ul li a span {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.container footer .footer-med {
  background-color: #232f3e;
}
.container footer .footer-med .underline {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.container footer .footer-med .footer-margin {
  margin: 0px 15%;
}
.container footer .footer-med .footer-margin .footer-flex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.container footer .footer-med .footer-margin .footer-flex .footer-img {
  margin-right: 125px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-img .image {
  width: 100px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-img .image img {
  width: inherit;
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border > div {
  padding: 0 5px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2196078431);
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border .globe i {
  font-size: 12px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border .lang p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border .lang-icons .up-arrow {
  height: 7px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border .lang-icons .up-arrow i {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.2196078431);
}
.container footer .footer-med .footer-margin .footer-flex .footer-language .language-border .lang-icons .down-arrow i {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.2196078431);
}
.container footer .footer-med .footer-margin .footer-flex .footer-margin-bottom {
  margin-bottom: 30px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-margin-bottom .country-list ul {
  display: flex;
}
.container footer .footer-med .footer-margin .footer-flex .footer-margin-bottom .country-list ul li {
  padding: 0 7px;
}
.container footer .footer-med .footer-margin .footer-flex .footer-margin-bottom .country-list ul li a {
  white-space: nowrap;
  word-wrap: break-word;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
}
.container footer .footer-bottom {
  background: #131a22;
}
.container footer .footer-bottom .footer-margin {
  margin: 0px 15%;
}
.container footer .footer-bottom .footer-margin .footer-flex {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
}
.container footer .footer-bottom .footer-margin .footer-flex .footer-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container footer .footer-bottom .footer-margin .footer-flex .footer-list-item .list-items {
  width: 200px;
}
.container footer .footer-bottom .footer-margin .footer-flex .footer-list-item .list-items a {
  display: block;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}
.container footer .footer-bottom .footer-margin .footer-flex .footer-list-item .list-items a span {
  color: #999;
  font-size: 12px;
  font-weight: 600;
}
.container footer .footer-bottom .footer-margin .footer-flex .footer-list-item .list-items a:hover {
  text-decoration: underline #999;
  cursor: pointer;
}
.container footer .footer-site-note {
  padding-bottom: 30px;
  background: #131a22;
}
.container footer .footer-site-note .site-note-one {
  padding-top: 20px;
}
.container footer .footer-site-note .site-note-one ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container footer .footer-site-note .site-note-one ul li {
  padding: 0 7px;
}
.container footer .footer-site-note .site-note-one ul li a {
  color: #ddd;
  font-size: 13px;
  font-weight: 500;
}
.container footer .footer-site-note .site-note-one ul li a:hover {
  text-decoration: underline #999;
}
.container footer .footer-site-note .site-note-two p {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ddd;
}/*# sourceMappingURL=style.css.map */